body {
  margin: 0;
  min-width: 1000px;
  
  background-color: hsl(0, 0%, 7%);
  color: hsl(0, 0%, 83%);
  
  font-family: Arial, sans-serif;
}




/* Sizing related stuff */

#route-textarea {
  width: 420px;
  height: 100px;
}

#left-pane {
  display: inline-block;
  max-width: 600px;
}

#route-table-container {
  max-height: 600px;
  overflow-y: auto;
}

td.message-id-display {
  font-size: 12.8px; font-size: 0.8rem;
  
  /* Allow non-whitespace word wrap on message ids */
  word-break: break-all;
}

td.box-text {
  /* Should be wide enough to fit a normal line of JP text */
  width: 320px;
}

#item-details {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  
  /* Should be no way for this to overflow if we allow wrapping the
  message ids by non-whitespace. */
  max-width: 360px;
  
  max-height: 600px;
  overflow-y: auto;
}




.help-text {
  font-size: 14.4px; font-size: 0.9rem;
}

.long-help-text-container {
  display: none;
}

code {
  color: hsl(200, 100%, 35%);
}
li {
  margin: 0.5em 0; margin: 0.5rem 0;
}


table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid white;
  padding: 4px;
}


td.name-level {
  color: hsl(60, 70%, 50%);
}
td.name-level-comet {
  color: hsl(30, 70%, 50%);
}
td.name-action {
  color: hsl(120, 60%, 70%);
}
td.name-event {
  color: hsl(200, 60%, 70%);
}


tr.route-item:hover, td.message-frames:hover {
  background-color: hsl(0, 0%, 50%);
  cursor: pointer;
}
tr.skippable td.message-frames {
  color: hsl(0, 0%, 50%);
}
tr.skippable td.message-frames:hover {
  background-color: hsl(0, 0%, 30%);
}



table#argset-fields {
  display: inline-block;
}


#item-details div button {
  background-color: hsl(0,0%,15%);
  color: inherit;
  border: 1px solid white;
  border-radius: 5px;
  margin: 4px;
  font-size: 0.9rem;
  
  font-family: Arial, sans-serif;
}
#item-details div button:hover {
  background-color: hsl(0,0%,50%);
}


span.mid-result {
  text-decoration: underline;
}
span.final-result {
  font-weight: bold;
}
